# compiled output
/dist

# Logs
logs
*.log

# OS
.DS_Store

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Teaching Markdown
prepare.md

# modules
*/node_modules/